.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 10px;
}

#form button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
}
#form button:hover {
  background-color: #3fa796;
  color: white;
}
.posts {
  position: relative;
}
.posts .addbtn {
  cursor: pointer;
  width: auto;
  height: 25px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  background-color: #256d85;
  position: absolute;
  right: 5%;
  top: 8%;
}

.updatebtn {
  background-color: #256d85;
  color: white;
  padding: 10px;
  display: inline-block;
}
